<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empresa Prueba</title>
</head>
<body>
    <h1>HOLA</h1>
    <form action="/invoice/new" method="post">
        <input type="submit" value="A VER SI JALA">
    </form>
    <form action = "/logs" method = "post">
        Message: <input type="text" name = "log"><br>
                 <input type="submit" value="Mandalo alv">
    </form>
</body>
</html>