<% include ./partials/header %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 invoices">
            <h1>Obtener Facturas</h1>
            <form action="/invoice/new" method="post">
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary" value="NUEVAS">
                </div>
            </form>
            <form action="/logs" method="post">
                <div class="form-group">
                    Message: <input type="text" class="form-control" name="log"><br>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" value="Realizar envio">
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>