
    <% include ./partials/header %>
    <h1>HOLA</h1>
    <form action="http://clev-cemex-api.firebaseapp.com/logs/1000" method="post">
        <input type="submit" value="A VER SI JALA">
    </form>
    <form action = "/logs" method = "post">
        Message: <input type="text" name = "log"><br>
                 <input type="submit" value="Mandalo alv">
    </form>
</body>
</html>